

body { 
    
    line-height: 1.5em;
    background: url(../pictures/bright_squares2.png) repeat;
    font-family: "Open Sans", Arial;
    margin: 0px;
}

h1{
    color:aliceblue;
    text-align: center;
    margin: 40px 0px 70px;
    font-size: 70px;
    line-height: 1;
}
h2{
    color: #7ca6f4;
    text-align: center;
    font-size: 40px;
    line-height: 1;
}
p{
    color:#525e74;
    font-size: 20px;
}
li{
    color:#525e74;
    font-size: 20px;

    }
.stuff{
    background-image: url(../pictures/thing.jpg);
    position: relative;
    height: 1000px;
    background-attachment: fixed;
    width:  100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 1000px;
    background-position: top center;
    overflow: hidden;
}
.logo{
    background-image: url(../pictures/pic.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: top  center;
    height: 100%;
    position: absolute;
    top: 0%;
    margin-top: 100px;

}
.extra{
    background-image: url(../pictures/pic.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: top left;
    height: 100%;
    position: absolute;
    top: 0%;
    margin-top: 100px;

}

 .info {
    max-width: 980px;   
    text-align: center;
    position: center; 
    background-color: aliceblue;
    border-color:aqua;
    border-width: thick;
    margin: 0  auto 50px;
    padding-bottom: 20px;
    padding-top: 1;


 }
.contact{
    max-width: 680px;
    text-align: center;
    position: center; 
    background-color: aliceblue; 
    border-color:aqua;
    border-width: thick;
    margin: 0 auto 50px;
    padding-bottom: 20px;
    padding-top: 1;
}

footer{ 
    margin: 20px auto;
   
    color: #7ca6f4;
    text-align: center;
    max-width: 500px;
}
button{
    
}
.button{text-decoration:none; text-align:center; 
 padding:13px 34px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:18px;
 -moz-border-radius:18px; 
 border-radius: 18px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#e5ffff; 
 background-color:#374347; 
 background-image: -moz-linear-gradient(top, #374347 0%, #27b8e8 100%); 
 background-image: -webkit-linear-gradient(top, #374347 0%, #27b8e8 100%); 
 background-image: -o-linear-gradient(top, #374347 0%, #27b8e8 100%); 
 background-image: -ms-linear-gradient(top, #374347 0% ,#27b8e8 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27b8e8', endColorstr='#27b8e8',GradientType=0 ); 
 background-image: linear-gradient(top, #374347 0% ,#27b8e8 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;  
 opacity:0.89; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=89); 
 filter: alpha(opacity=89); 
   -webkit-transition: all 1s ease;
 -moz-transition:  all 1s ease;
 -o-transition:  all 1s ease;
 transition:  all 1s ease;}
.button:hover{
 padding:13px 34px; 
 border:solid 1px #76b4c9; 
 -webkit-border-radius:18px;
 -moz-border-radius:18px; 
 border-radius: 18px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#000000; 
 background-color:#888a8a; 
 background-image: -moz-linear-gradient(top, #888a8a 0%, #76b4c9 100%); 
 background-image: -webkit-linear-gradient(top, #888a8a 0%, #76b4c9 100%); 
 background-image: -o-linear-gradient(top, #888a8a 0%, #76b4c9 100%); 
 background-image: -ms-linear-gradient(top, #888a8a 0% ,#76b4c9 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76b4c9', endColorstr='#76b4c9',GradientType=0 ); 
 background-image: linear-gradient(top, #888a8a 0% ,#76b4c9 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;  
 opacity:0.66; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=66); 
 filter: alpha(opacity=66); 
 }



#tabContainer {
	padding-left: 100;
    
}

#tabs{
	height:30px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}
#tabs ul, #tabs li {
	margin:0;
	padding:0;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	background: #8277e7;
}

#tabs > ul > li:hover{
	background: white; 
	cursor:pointer;
    
}

#tabs > ul > .active{
	background: #d7d2ff; /* old browsers */
	cursor:pointer;
}

#containers div {
	background: #d7d2ff;
	padding:10px 10px 25px;
	margin:0 40;
	color:#333;
    
}
#tabs a {
	text-decoration: none;
	color: darkblue;
}



#tabContainer2 {
	padding-left: 100;
    
}

#tabsTwo{
	height:30px;
	overflow:hidden;
}

#tabsTwo > ul{
	font: 1em;
	list-style:none;
}
#tabsTwo ul, #tabs li {
	margin:0;
	padding:0;
}

#tabsTwo > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	background: #8277e7;
}

#tabsTwo > ul > li:hover{
	background: white; 
	cursor:pointer;
    
}

#tabsTwo > ul > .active{
	background: #d7d2ff; /* old browsers */
	cursor:pointer;
}

#containersTwo div {
	background: #d7d2ff;
	padding:10px 10px 25px;
	margin:0 40;
	color:#333;
    
}
#tabsTwo a {
	text-decoration: none;
	color: darkblue;
}
