<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Not found</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/public/img/memory.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">-->
    <link rel="stylesheet" type="text/css" href="/public/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

  
	</head>
	<body>
{{if eq .RunMode "dev"}}
{{template "errors/404-dev.html" .}}
{{else}}
	{{with .Error}}
	<h1>
		{{.Title}}
	</h1>
	<p>
		{{.Description}}
	</p>


	{{end}}
{{end}}
    <div class="card horizontal">
    <span class="center"> Go away! Stop trying to break this site!
    </span>

    </div>
    <div class="container">
        <div class="card horizontal">
            <img style="width: 100%; height:100%;" src="/public/img/go-image.png">
        </div>
    </div>
	</body>
</html>
