{{set . "title" "Home"}}
{{template "header.html" .}}



<div class="row">
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Education</span>
      <p>I am currently a junior in the College of Arts and Science at 
      New York University pursuing my undergraduate Bachelors degree. 
      I am on my way to completing the Computer Science major with a minor in Mathematics.
      </p>
    </div>
  </div>
</div>
</div>


<div class="row">
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Personal Projects</span>
      <p> I've completed a couple of projects in my spare time like Print@Stern. Print@Stern is the
      printing client for the NYU Stern School of Business for linux users. I've made a few
      alterations to application and created an installation script to handle any issues. Now linux
      users can install and run the application without issues.
      </p>
      <p> Checkout my github profile to see what else I"m working on!
      <\p>
    </div>
    <div class="card-action">
      <a href="https://github.com/ronald-rojas">Github</a>
    </div>
  </div>
</div>
</div>
 
<div class="row">
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Competitive Programming</span>
      <p> I recently became interested in competitive programming and I'm finding it a lot
      of fun! I post most of the problems that I complete on github. I use mutiple sites to find 
      problems but I've completed the most problems from Google Code Jam, CodeForces, and 
      UVa. Most of these problems are completed in java. If interested, check out my CodeForces
      profile too!
      </p>
    </div>
    <div class="card-action">
      <a href="https://github.com/ronald-rojas/programming-prompts">Github</a>
    </div>
    <div class="card-action">
      <a href="http://codeforces.com/profile/ronaldrojas">Codeforces</a>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">About Me</span>
      <p>As a computer science major I have a strong interest in distributed file systems and 
      also low level development. I'm working on contributing to a linux kernel or the Xen 
      Project both of those project really amazing, but terribly complex. 
      
      <br>I've dabbled in many technologies such as android development, mongodb, Arduino, Rasberry Pi, and some hardware components. The languages that I am most familiar with are Java and C(but I'm really likeing GO too). 
      <br> Some relevent classes that I have taken are Data Structures, Linear Algrebra, and 
      Computer Systems Organization. Now I'm currently taking many computer science related 
      classes such as Operating Systems, Basic Algorithms, and Object Oriented Programming. 
      I think that Operating Systems will be the most interesting class for me this semester.
      </p>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
