{{set . "title" "Projects"}}
{{template "header.html" .}}

<nav>
  <div class="nav-wrapper red darken-4">
      <a href="/" class="brand-logo">ROJAS<i class="material-icons left">polymer</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down fit">
      <li><a href="/">About Me</a></li>
      <li class = "active"><a href="/projects">Projects</a></li>
      <li><a href="/resume">Resume</a></li>
    </ul>
  </div>
</nav>
<div class="container ">

    <br> 
    <a href="https://github.com/ronald-rojas" class="waves-effect waves-light btn-large amber">
           All of the code for these projects can be found my github.
    </a>
    <br>
    <br>
    

  <div class="row">
      <div class="col s12 m5">
        <div class="card-panel red">
             <span class="card-title">Print@Stern</span>
          <span class="white-text">
          The NYU Stern School of Business uses the papercut application for all of it's printing 
          needs. Previously we had had support only for windows and MacOS. I created the linux 
          version of the appllcation for undergraduate and graduate students. By simply running the 
          installation script, linux users can print to stern printers just like other students.
          </span>
        </div>
      </div>
    </div>
      

  <div class="row">
      <div class="col s12 m5">
        <div class="card-panel red">
             <span class="card-title">Rim</span>
          <span class="white-text">
          A first attempt at creating a text editor inspired by vi. It provided basic functionality 
          that mimicked some of the modes of vi, such as command mode and writing mode. 
          </span>
        </div>
      </div>
    </div>



  <!--<div class="row">
      <div class="col s12 m5">
        <div class="card-panel teal">
             <span class="card-title">Extra Card</span>
          <span class="white-text">
          Write some more stuff here 
          </span>
        </div>
      </div>
    </div>

  -->


<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
